/**
 * Catberry Homepage styles
 * Sat, 13 Aug 2016 05:40:43 GMT
 */

body {
  background-color: #DADADA;
}

body> .grid {
  height: 100%;
}

.image {
  margin-top: -100px;
}

.column {
  max-width: 450px;
}